.navbar
  width: 100px
  display: flex
  flex-direction: column
  justify-content: center
  background-color: #2693ff
  align-items: center
  color: #fff

  div:hover
    background: #1182f2
    width: 100%
    display flex
    align-items: center
    justify-content: center

  a
    display: flex
    flex-direction: column
    padding: 10px 0
    justify-content: center
    text-align: center
    font-size: 13px
    text-decoration: none
    color: #fff

  .navbar-item
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 5px

    img,
    i
      width: 34px
      font-size: 30px
      display: flex
      justify-content: center
      align-items: center
.logo
  top: 10px
  position: absolute
  display flex
  width: 60px
  height: 60px